.chat-line__username {
  padding: 1px 6px;
  border: 2px solid #fff;
  border-radius: 50px !important;
  margin-right: 5px;
  border-color: inherit;
}

.chat-line__username:hover {
  text-decoration: none !important;
}

.chat-line__message--badges span {
  border-radius: 50px !important;
  padding: 12px;
}

.chat-line__message span[aria-hidden='true'] {
  display: none;
}

.chat-line__message .ffz-badge {
  background-repeat: no-repeat;
  margin-right: 6px !important;
  border: 1px solid transparent;
}
